In [1]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv('/Users/stevenchan/Documents/local-station/data/ows-raw.txt', error_bad_lines= False, engine = 'c')

b'Skipping line 5051743: expected 14 fields, saw 15\n'
b'Skipping line 5254718: expected 14 fields, saw 15\nSkipping line 5281095: expected 14 fields, saw 15\n'
b'Skipping line 5481759: expected 14 fields, saw 15\nSkipping line 5482014: expected 14 fields, saw 15\nSkipping line 5482532: expected 14 fields, saw 15\n'
b'Skipping line 5516605: expected 14 fields, saw 15\n'
b'Skipping line 5709055: expected 14 fields, saw 15\n'
b'Skipping line 5796658: expected 14 fields, saw 15\n'
b'Skipping line 5927412: expected 14 fields, saw 15\nSkipping line 5927419: expected 14 fields, saw 15\nSkipping line 5927421: expected 14 fields, saw 15\nSkipping line 5927451: expected 14 fields, saw 15\nSkipping line 5927478: expected 14 fields, saw 15\n'
b'Skipping line 6229621: expected 14 fields, saw 16\nSkipping line 6245861: expected 14 fields, saw 17\nSkipping line 6278728: expected 14 fields, saw 15\n'
b'Skipping line 6350262: expected 14 fields, saw 15\n'
b'Skipping line 6387321: expected 14 fields, saw 15\nSkipping line 6388879: expected 14 fields, saw 15\n'

In [28]:
df1 = df
df1.head()

,Twitter ID,Text,Profile Image URL,Day,Hour,Minute,Created At,Geo,From User,From User ID,Language,To User,To User ID,Source
0,121813144174727168,RT @AnonKitsu: ALERT!!!!!!!!!!COPS ARE KETTLIN...,http://a2.twimg.com/profile_images/1539375713/...,2011-10-06,5,4,2011-10-06 05:04:51,N;,Anonops_Cop,401240477,en,NaN,0,&lt;a href=&quot;http://twitter.com/&quot;&gt;...
1,121813146137657344,@jamiekilstein @allisonkilkenny Interesting in...,http://a2.twimg.com/profile_images/1574715503/...,2011-10-06,5,4,2011-10-06 05:04:51,N;,KittyHybrid,34532053,en,jamiekilstein,2149053,&lt;a href=&quot;http://twitter.com/&quot;&gt;...
2,121813150000619521,@Seductivpancake Right! Those guys have a vict...,http://a1.twimg.com/profile_images/1241412831/...,2011-10-06,5,4,2011-10-06 05:04:52,N;,nerdsherpa,95067344,en,Seductivpancake,19695580,&lt;a href=&quot;http://www.echofon.com/&quot;...
3,121813150701072385,RT @bembel &quot;Occupy Wall Street&quot; als ...,http://a0.twimg.com/profile_images/1106399092/...,2011-10-06,5,4,2011-10-06 05:04:52,N;,hamudistan,35862923,en,NaN,0,&lt;a href=&quot;http://levelupstudio.com&quot...
4,121813163778899968,#ows White shirt= Brown shirt.,http://a2.twimg.com/profile_images/1568117871/...,2011-10-06,5,4,2011-10-06 05:04:56,N;,kl_knox,419580636,en,NaN,0,&lt;a href=&quot;http://twitter.com/&quot;&gt;...

In [43]:
arr = df['Twitter ID'].unique()
df1 = df[df['Twitter ID'] == arr]

In [71]:
len(df['From User ID'])
s = set(df['From User ID'].values)
len(s)
s = list(s)

new_df = df.loc[0]

s = np.array(s)
for i in range(len(s)):
    new_df.append(df.loc[df['From User ID'] == s[i]])
new_df.head()

KeyboardInterrupt:

In [44]:
df1['Twitter ID'] = 1
df1.groupby('Day').sum()

            Twitter ID     Hour   Minute    From User ID     To User ID
Day
2011-10-06       49638   762809  1473606   9095165387256   702587294243
2011-10-07       65238   882839  1954862  12182637884756  1060490844339
2011-10-08       65949   867925  1944226  12221004631000   839448856731
2011-10-09       65097   792101  1918528  12051760330932   941564621821
2011-10-10       78619  1072286  2326071  14691405739740  1057692365173
2011-10-11       67596   673608  2006743  12700557732175   840160573718
2011-10-12       67753   871394  2006324  13040507371998   919544508708
2011-10-13       98954  1423546  2944920  18372334734102  1139178512273
2011-10-14      148062  1620576  4372344  26834910098399  1447061249254
2011-10-15      161802  2501989  4865707  28963989290289  1538292237070
2011-10-16      165381  1580510  4828080  29392294263429  1649392954101
2011-10-17      113628  1438264  3360626  21411340108685  1597090222458
2011-10-18      103337  1252251  3047532  19637143711917  1340908636023
2011-10-19       88874  1059728  2562544  17341122287795  1150167093093
2011-10-20       73159   915817  2165023  14329669747191   970944986390
2011-10-21       75256   930942  2211850  14929248825690   979770392128
2011-10-22       70368   839000  2081904  13960808445609   820656460293
2011-10-23       64808   804093  1912997  13236364158806   856717307781
2011-10-24       64571   857192  1908028  13116219449663   795621700385
2011-10-25       74641   964733  2206844  14786366773557   908476516857
2011-10-26      141729  1549935  4230245  26590049012738  1162261543972
2011-10-27      137172  1308172  4019491  25958090714153  1296789245097
2011-10-28       87216  1035351  2578021  16998501842120  1020725220714
2011-10-29       75741   953862  2244665  15513405874031   843388790572
2011-10-30       77813   851413  2287383  16202163558886   882760137679
2011-10-31       64256   795835  1881704  13444911759155   743098472302
2011-11-01       62286   832460  1844372  12961630095905   698240076629
2011-11-02       74554   986824  2198270  15462546452698   846556184651
2011-11-03       92698  1009281  2738835  18263118802374   911302750746
2011-11-04       63529   751499  1875302  12972477232726   815410372571
...                ...      ...      ...             ...            ...
2012-01-20       19840   237940   568000   4326818798474   213183384810
2012-01-21       15459   177079   452755   3509869944579   178150389264
2012-01-22       11948   140622   355772   2861598358898   134367292885
2012-01-23       14896   178222   442887   3470994305790   160093905902
2012-01-24       14290   176275   420873   3347281850091   191463706980
2012-01-25       18812   198571   541027   3965657376198   153077315648
2012-01-26       15159   187203   449926   3483008135123   156093455533
2012-01-27       11992   141473   353655   2847700276114   159941097997
2012-01-28       11530   145142   347780   2597996958325   139444006754
2012-01-29       27219   280458   806220   5728873377388   307515764966
2012-01-30       27198   281117   812898   5821170435620   307481762780
2012-01-31       18682   215706   557506   4222158288131   230249221173
2012-02-01       16578   191250   489166   3838106692587   204536573670
2012-02-02       14995   171049   439991   3446121328990   174658768738
2012-02-03       14371   167109   425123   3571692002637   210449588243
2012-02-04       16591   203799   487150   3976580278313   204591279576
2012-02-05       13656   147454   398617   3338064643783   186237742633
2012-02-06       14446   172847   425550   3549279808343   164407182890
2012-02-07       14940   170042   439517   3658318028848   191875927071
2012-02-08       13451   161748   399297   3320772489932   164712048256
2012-02-09       13944   165767   418159   3416699939663   161080155797
2012-02-10       14083   167572   417872   3361195548285   194462943113
2012-02-11       12920   150176   375756   3211927174001   184522315478
2012-02-12       11178   141483   329448   2695940034210   170931331335
2012-02-13       13600   161434   404743   3563892720571   165601835022
2012-02-14       13580   155720   407129   3389202345833   182969909127
2012-02-15       13248   158844   389039   3290247530208   141617661197
2012-02-16       12837   151204   375264   3238414671371   150520623184
2012-02-17       12468   146239   376555   3116057415084   194503717438
2012-02-18        4859    18180   136931   1242090695919    58378864687

[136 rows x 5 columns]